@use 'sass:color';
@use '@angular/material' as mat;
@use '../../../styles/layout';
@use '../../../styles/rym-theme' as *;

.dialog-title{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.2vw + 1rem, 1.6rem);
  color: #1D1E5B;
}
.dialog-content{ padding: layout.$space-2; }
:host { .danger { color: #C54573; } }
.dialog-actions{ padding: layout.$space-2; }
