<!-- KPIs -->
<section class="kpis">
  @let st = (students$ | async);
  @let cs = (courses$  | async);

  @if (st && cs) {
    <div class="kpi">
      <div class="num">{{ st.length }}</div>
      <div class="label">Alumnas registradas</div>
    </div>

    <div class="kpi">
      <div class="num">{{ countDepositsPaid(st) }}</div>
      <div class="label">Depósitos pagados</div>
    </div>

    <div class="kpi">
      <div class="num">{{ countEnrollments(st) }}</div>
      <div class="label">Inscripciones (30 días)</div>
    </div>

    <div class="kpi">
      <div class="num">{{ cs.length }}</div>
      <div class="label">Cursos publicados</div>
    </div>
  }
</section>

<!-- Charts -->
<section class="charts">
  @if (st && cs) {
    <div ngx-echarts [options]="buildCharts(st, cs).bar"  class="echart"></div>
    <div ngx-echarts [options]="buildCharts(st, cs).line" class="echart"></div>
    <div ngx-echarts [options]="buildCharts(st, cs).pie"  class="echart"></div>
  }
</section>
