.page-title { margin-bottom: 1rem; font-family: 'Barlow Semi Condensed', sans-serif; }

.student-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 2rem;
}

.mat-form-field { width: 100%; }
table { width: 100%; }
