.sidenav-container { height: 100vh; }
.flex-spacer       { flex: 1 1 auto; }
.logo-bar          { justify-content: center; }

/* Pink translucency when router marks an <a> as .active */
:host ::ng-deep .mat-mdc-list-item.active {
  background-color: rgba(#C54573, 0.15);
}
